* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background: black;
}

.main-container {
    width: 95%;
    margin-left: 5%;
    height: 100%;
}

.task-manager{
    border: 2px solid red;
    background-color: transparent;
}


#list1 .form-control {
    border-color: transparent;
}

#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

#list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
}